#company_pane
  %ul#company_list
        
#toolbar.toolbar
  %p
    %a{:href => "#", :class => "button", :id => "add_company"} Add a company

:javascript
  var eu;

  head.ready("eula", function(){
    Eulagy.init(#{@companies.to_json});
  });
  
  head.ready("backbone", function(){
    head.js(
      {eulagy_mod:  '/javascripts/app/eulagy_module.js'},
      {company:     '/javascripts/app/company.js'},
      {application: '/javascripts/app/application.js'},
      {eula:        '/javascripts/app/eula.js'}
    )
  });

  head.js(
    {json2:       '/javascripts/lib/backbone/json2.js'},
    {underscore:  '/javascripts/lib/backbone/underscore-min.js'},
    {jquery:      '/javascripts/lib/jquery.min.js'},
    {backbone:    '/javascripts/lib/backbone/backbone-min.js'}
  );

%script{:type => 'text/template', :id => 'company-template'}
  %div{:class => 'company'}
    %a <%= name %>
      
%script{:type => 'text/template', :id => 'application-template'}
  %div{:class => 'application'}
    %div{:class => 'edit'}
      %input{:class => 'application-input', :type => 'text', :value => ''}
      
%script{:type => 'text/template', :id => 'eula-template'}
  %div{:class => 'eula'}
    %div{:class => 'edit'}
      %input{:class => 'eula-input', :type => 'text', :value => ''}