#companies
  %ul
    - (@companies).each do |company|
      %li{:class => "company_button"}
        %a{:href => "/company/#{company.id}"}= "#{company.name}"
        
#company_form.form_div
  %form{:id => "company_admin", :action => "/api/company", :method => "post"}
    %fieldset
      %legend Company Admin
      %div
        %label{:for => "name"} Name
        %input{:name => "name", :type => "textfield", :placeholder => "Company Name"}
      %input{:type => "submit", :value => "Save"}

  #application_form.form_div
    %form{:id => "application_admin"}
      %fieldset
        %legend Application Admin
        %div
          %label{:for => "name"} Name
          %input{:name => "name", :type => "textfield", :placeholder => "Application Name"}
        %div
          %label{:for => "version"} Version
          %input{:name => "version", :type => "textfield", :placeholder => "Application Version"}
        %input{:type => "submit", :value => "Save"}
  
    #license_form.form_div
      %form{:id => "license_admin"}
        %fieldset
          %legend License Admin
          %div
            %label{:for => "text_full"} Contents
            %textarea{:name => "text_full", :placeholder => "Paste EULA here."}
          %input{:type => "submit", :value => "Save"}
    
    %p.toolbar
      %a{:href => "#", :class => "button", :id => "add_license"} Add a license
            
  %p.toolbar
    %a{:href => "#", :class => "button", :id => "add_application"} Add an application

#company_pane
        
#toolbar.toolbar
  %p
    %a{:href => "#", :class => "button", :id => "add_company"} Add a company

:javascript
  var eu;

  head.ready('app', function(){
    eu = new Workspace();
  });

  head.js(
    {json2:       '/javascripts/lib/backbone/json2.js'},
    {underscore:  '/javascripts/lib/backbone/underscore-min.js'},
    {backbone:    '/javascripts/lib/backbone/backbone-min.js'},
    {jquery:      '/javascripts/lib/jquery.min.js'},
    {app:         '/javascripts/app/workspace.js'}
  );