!!! 5
%html
  %head
    %title= @title || SiteConfig.title
    %link{:href => '/stylesheets/style.css', :rel => 'stylesheet', :type => 'text/css'}
    %script{:src => '/javascripts/lib/head.min.js'}
  %body
    #eulaapp
    #wrapper
      = yield